@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

.App{
    font-family: 'Inter', sans-serif;
}

.no-border{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-border::-webkit-scrollbar{
    display: none;
}